--index-url=https://PythonPackages:<PERSONAL_ACCESS_TOKEN>@pkgs.dev.azure.com/granton/Andromeda/_packaging/PythonPackages/pypi/simple/ --extra-index-url=https://pypi.org/simple

# ------- Pypi packages -------
fastapi~=0.111.0
azure-core~=1.30.2
defusedxml~=0.7.1

# ------- Azure Artifactory packages -------
GrantonLogTrace==0.2.6
PartyIdentity==0.1.1
CanonicalDataModels==0.5.12
